.dashboard_ico_container {
  background-color: white;
  border: 1px solid #ccc;
  color: rgb(31, 30, 10);
  display: flex;
  flex-flow: row wrap;
  padding: 25px;
  justify-content: space-evenly;
}

.dashboard_ico_left {
  display: flex;
  flex-flow: column wrap;
}

.dashboard_ico_bottom {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid transparent;
  box-shadow: 0 0 4px rgba(0, 30, 128, 0.8);
}

.dashboard_ico_mid{
  max-width: 1000px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 2px rgba(48, 144, 199, 1);
  background-color: #F0F8FF;
  margin: 10px;
  padding: 10px;
}

.ico_flex_row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.dashboard_ico_topLeft {
  margin: 10px;
}

.dashboard_ico_cards_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  /* border: 1px solid red; */
}

.dashboard_ico_topRight_cards {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.dashboard_ico_card_active {
  border: 1px solid #ccffcc;
  box-shadow: 0 4px 8px 0 rgba(81, 163, 34, 0.938);
  background-color: #e2fee2;
}

.dashboard_ico_card_complete {
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}

.dashboard_ico_card_inactive {
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #eff;
}

.dashboard_liquid_gauge {
}

.dashboard_card_title {
  margin-top: 5px;
  font-size: 0.9em;
  text-shadow: 0px 0px 1px #222;
}

.dashboard_card_title2 {
  font-style: italic;
  margin-top: 5px;
  font-size: 0.8em;
  text-shadow: 0px 0px 1px #222;
}

.dashboard_ico_modal_container {
  width: 800px;
  background-color: #000;
  border-radius: 3px;
  color: #ddd;
  text-shadow: 0 0 4px #00ffff;
  border: 1px solid #222;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}

.dashboard_ico_modal_close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.dashboard_ico_modal_title {
  margin: 10px;
  font-size: 18px;
  text-align: center;
}

.dashboard_ico_modal_content {
  margin: 10px;
  font-size: 14px;
  text-align: left;
  overflow-y: scroll;
  height: 80vh;
  padding: 10px;
  font-size: 12px;
  line-height: 18px;
}

@media only screen and (max-width: 767px) {
  .dashboard_ico_modal_container {
    width: 340px;
  }
}

@media only screen and (min-width: 768px) {
  .dashboard_ico_modal_container {
    width: 600px;
  }
}

@media only screen and (min-width: 980px) {
  .dashboard_ico_modal_container {
    width: 680px;
  }
}

@media only screen and (min-width: 1200px) {
  .dashboard_ico_modal_container {
    width: 800px;
  }
}

.ico_contribute_input {
  width: 200px;
  background-color: transparent;
  color: #111;
  padding: 15px;
  margin: 10px;
  border: 1px solid transparent;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

.ico_contribute_left {
  width: 240px;
  white-space: nowrap;
  text-align: right;
  padding: 5px 8px;
}

.ico_contribute_right {
  width: 80px;
  white-space: nowrap;
  text-align: left;
  padding: 5px 8px;
}

.flex_justified {
  justify-content: center;
  align-items: center;
}

.ico_disclaimer {
  margin: 10px 20px;
  padding: 3px 8px;
  border: 1px solid transparent;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
  font-size: 12px;
  text-align: center;
}

.ico_disclaimer2 {
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.ico_pay_buttons {
  padding: 10px;
}

.ico_pay_buttons button {
  margin: 8px;
  padding: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: 0 0 4px rgba(0, 30, 128, 0.8);
}

.dashboard_ico_countdown_container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: 0px 0px 2px rgba(48, 144, 199, 1);
  background-color: #F0F8FF;
  padding: 5px;
  margin: 10px;
  /* border: 1px solid red; */
}

.dashboard_ico_title {
  font-size: 32px;
  font-weight: 700;
  margin: 20px 0px;
}

.dashboard_ico_horizontal {
  height: 1px;
  border-bottom: 1px solid rgba(0, 30, 128, 0.5);
  width: 100%;
  margin: 30px 0px;
}

.dashboard_ico_countdown_title{
  font-weight: 700;
    padding: 0px 10px;
    color: rgb(31, 30, 10);
}

/* Media Responsiveness */

@media only screen and (max-width: 767px) {
  .dashboard_ico_countdown_title {
    font-size: 18px;
  }
  .dashboard_ico_topRight_cards {
    padding: 2px;
    margin: 5px;
    width: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .dashboard_ico_countdown_title {
    font-size: 22px;
  }
  .dashboard_ico_topRight_cards {
    padding: 2px;
    margin: 5px;
    width: 120px;
  }
}

@media only screen and (min-width: 980px) {
  .dashboard_ico_countdown_title {
    font-size: 22px;
  }
  .dashboard_ico_topRight_cards {
    padding: 2px;
    margin: 5px;
    width: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .dashboard_ico_countdown_title {
    font-size: 22px;
  }
  .dashboard_ico_topRight_cards {
    padding: 5px;
    margin: 5px;
    width: 120px;
  }
}

