.acc_settings_container {
    background-color: white;
    border: 1px solid #ccc;
    color: rgb(31, 30, 10);
    display: flex;
    flex-flow: column wrap;
    padding: 25px;
    align-items: center;
    justify-content: center;
  }
  
  .acc_settings_divider,
   .acc_settings_divider2{
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  .acc_settings_divider2 {
    margin-top: 15px;
  }
  
  .acc_settings_section1,
  .acc_settings_section2,
  .acc_settings_section3 {
    display: flex;
    flex-flow: column wrap;
  }
  
  .acc_settings_section1_content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
  }
  
  .acc_settings_card_title {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #888;
    font-weight: 700;
  }
  
  .acc_settings_card_title2 {
    font-size: 14px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 8px;
    margin-bottom: 5px;
    border-bottom: 1px solid #888;
  }
  
  
  .acc_settings_ref_card {
    border: 1px solid transparent;
    box-shadow: 0px 0px 2px rgba(48, 144, 199, 1);
    background-color: #F0F8FF;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
  }
  
  .acc_settings_section2_content,
  .acc_settings_section3_content {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .acc_settings_section3_content {
    flex-flow: column nowrap;
  }
  
  .acc_settings_section2_content {
    flex-flow: row wrap;
    border: 1px solid #888;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  
  .acc_settings_construction_text {
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
    white-space: nowrap;
  }
  
  .acc_settings_construction_img {
    max-height: 80px;
    max-width: 80px;
    height: auto;
    width: auto;
  }
  
  .acc_settings_flex_row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  
  .acc_settings_card_left {
    text-align: right;
    width: 105px;
    padding: 5px 10px 5px 0px;
  }
  
  .acc_settings_card_right {
    text-align: left;
    padding: 5px 0px;
    width: 85px;
  }
  
  .acc_settings_card_left2 {
    text-align: right;
    width: 130px;
    padding: 5px 10px 5px 0px;
  }
  
  .acc_settings_card_right2 {
    text-align: left;
    padding: 5px 0px;
    width: 60px;
  }
  
  .acc_settings_card_left3 {
    text-align: right;
    width: 300px;
    padding: 5px 10px 5px 0px;
  }
  
  .acc_settings_card_right3 {
    text-align: left;
    padding: 5px 0px;
    width: 200px;
  }
  
  .acc_settings_card_button_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .acc_settings_card_disclaimer {
    margin-top: 20px;
    padding: 5px;
    color: #333;
    text-align: center;
  }
  
  .acc_settings_card_buttons {
    transition: 0.3s;
    margin-bottom: 5px;
    background-color: #C2DFFF;
    border: 1px solid #B4CFEC;
    padding: 5px 0px;
    white-space: nowrap;
  }
  
  .acc_settings_card_buttons:hover {
    background-color: #ADDFFF;
  }
  
  .acc_settings_bold {
    font-weight: 700;
  }
  
  /* Media Responsiveness */
  
  @media only screen and (max-width: 767px) {
    .acc_settings_card_title {
      font-size: 14px;
    }
    .acc_settings_divider,
    .acc_settings_divider2 {
      font-size: 18px;
    }
    .acc_settings_flex_row {
      font-size: 14px;
    }
    .acc_settings_card_buttons {
      width: 150px;
      font-size: 14px;
    }
    .acc_settings_ref_card{
    width: 200px;
  }
  }
  
  @media only screen and (min-width: 768px) {
    .acc_settings_card_title {
      font-size: 14px;
    }
    .acc_settings_divider,
    .acc_settings_divider2 {
      font-size: 18px;
    }
    .acc_settings_flex_row {
      font-size: 12px;
    }
    .acc_settings_card_buttons {
      width: 140px;
      font-size: 12px;
    }
    .acc_settings_ref_card{
      width: 180px;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .acc_settings_card_title {
      font-size: 18px;
    }
    .acc_settings_divider,
    .acc_settings_divider2 {
      font-size: 24px;
    }
    .acc_settings_flex_row {
      font-size: 14px;
    }
    .acc_settings_card_buttons {
      width: 160px;
      font-size: 14px;
    }
    .acc_settings_ref_card{
      width: 240px;
    }
  }
  