.cpinput{
    width: 300px;
    background-color: transparent;
    color: #111;
    padding: 15px;
    margin: 10px;
    border: 1px solid transparent;
    box-shadow: 0 0 4px rgba(0, 30, 128, 0.8);
}

.cpinput2{
    width: 600px;
    background-color: transparent;
    color: #111;
    padding: 15px;
    margin: 10px;
    border: 1px solid transparent;
    box-shadow: 0 0 4px rgba(0, 30, 128, 0.8);
}

.cpform_container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.current_wallet_container{
    display: flex;
    flex-flow: row wrap;
    border: 1px solid yellow;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid rgba(234,234,234,0.95);
}

.current_wallet_left{
    padding: 5px;
    text-align: right;
    white-space: nowrap;
}

.current_wallet_right{
    padding: 5px;
    text-align: left;
}

.current_wallet_msg{
    color: red;
    padding: 10px;
}