.login_canvas {
  display: flex;
  flex-direction: column;
  /* background-color: rgba(0,0,0,.5); */
}

.login_container,
.login_container a
 {
  flex: 1;
  z-index: 10;
  color: #222;
}

.login_aboutPart1,
.login_aboutPart2{
  justify-content: center;
  /* background-image: url("../../../assets/wallpaper/fadeToBlack.png"); */
  background-size: cover;
  display: flex;
  z-index: 10;
  margin-top: 100px;
  margin-bottom: 100px;
}



.login_aboutPart1 {
  flex-flow: row wrap-reverse;
}